html {
  font-size: 62.5%;
}

header {
  background-color: aquamarine;
}

h1 {
  font-size: 3rem;
  color: crimson;
  text-align: center;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links > a {
  margin-left: 20px;
  font-size: 2.2rem;
  color: black;
}

.main {
  background-color: gray;
}

p {
  font-size: 9rem;
  color: brown;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
}
